asgiref==3.11.1
Django==6.0.4
django-cors-headers==3.14.0
django-csp==3.7
django-tenants==3.10.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
gunicorn==25.3.0
whitenoise==6.7.0
packaging==26.1
pillow==12.2.0
psycopg2-binary==2.9.11
PyJWT==2.6.0
python-decouple==3.8
pytz==2026.1.post1
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.1
