/* .navlink {
    padding-left: 1.5rem;
    padding-right: 1.5rem
} */

*{
    margin: 0;
}

.center {
    /* margin-left: auto;
    margin-right:auto */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: .8em;
    padding-right: .8em;
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    margin-top: 1em;
    margin-bottom: 1em;
   
}

.center > a {
    text-decoration: none;
    color: white;
}

.table_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    height: 3em;
    width: 100%;
}

.update {
    margin-bottom: 2em;
}

.white {
    color: white;
    text-decoration: none;
}

.middle {
    align-items: center;
}

.delete {
    text-decoration: underline;
    font-weight: bold;
}

.d-none {
    display: none !important;
  }

.invisible {
    visibility: hidden;
  }

.middle {
    justify-content: center;
}