/* .navlink {
    padding-left: 1.5rem;
    padding-right: 1.5rem
} */

/* *{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
  } */

.center {
    /* margin-left: auto;
    margin-right:auto */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: .8em;
    padding-right: .8em;
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    margin-top: 1em;
    margin-bottom: 1em;
   
}

.center > a {
    text-decoration: none;
    color: white;
}

.table_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgoldenrodyellow;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid orange;
}

.sideNav {
    min-height: calc(100vh - 80px);
    min-width: calc(20vh);
}

.update {
    margin-bottom: 2em;
}

.white {
    color: white;
    text-decoration: none;
}

.middle {
    align-items: center;
}

.delete {
    text-decoration: underline;
    font-weight: bold;
}

.d-none {
    display: none !important;
  }

.invisible {
    visibility: hidden;
  }

.middle {
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
  list-style: none;  
}

.display-border {
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    /* background-color: lightgoldenrodyellow; */
    background-color: rgba(251,212,124, 0.5);
}

.display-box {
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 10px;
    /* background-color: lightgoldenrodyellow; */
    background-color: rgba(251,212,124, 0.5);
}

.thick {
    border-top: 4px solid orange;
}

.display-wide{
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    height: 300px;
}

.display-large {
    /* height: 18em; */
    height: 300px !important;
    width: 100%;
  }

.orange {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    
}

.black {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.inprogress {
    color: red;
    font-weight: bold;
}

.about_us {
    /* background-color: lightblue; */
    background-color: rgba(251,212,124, 0.5);
    border-radius: 15px;
}

.zakky_image {
    height: 20rem;
    width: 18rem;
}

.zakky_intro{
    background-color: rgba(251,212,124, 0.5);
    border-radius: 15px;
}

.Photo_Image{
    height: 20rem;
    width: auto;
}

.table-container {
    background-color: white;
  }
  
.table-container .rdt_TableRow {
    background-color: lightgray;
  }
  
.table-container .rdt_TableRow:nth-of-type(even) {
    background-color: white;
  }

.Introduction {
    background-image: linear-gradient(to bottom left, lightblue, royalblue);
    text-shadow: 2px 1px black;
    color: white;
}

.main-card {
    width: 400px;
}

.card-image {
    width: 100%;
    height: 22rem;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .Commitment_To_Safety {
    background-image: linear-gradient(to bottom left, lightblue, royalblue);
    /* background-image: linear-gradient(to bottom left, orange, yellow); */
    text-shadow: 2px 1px black;
    color: white;
  }

  .card_border {
    border: 2px solid black;

  }
  .card_border_2 {
    border: 2px solid black;
    border-radius: 25px;
  }

  .news-image {
    width: 7rem;
    height: 7rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .social_bar {
    background-color: white;
    border-radius: 15px;
  }

  .Navheader {
    background-image: linear-gradient(to bottom left, lightblue, royalblue);
    /* position: absolute; */
    /* top: 0%; */
    width: 100%;
  }