/* .navlink {
    padding-left: 1.5rem;
    padding-right: 1.5rem
} */

*{
    margin: 0;
}


.center {
    /* margin-left: auto;
    margin-right:auto */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: .8em;
    padding-right: .8em;
    border-radius: 10px;
    border: none;
    background-color: darkblue;
    margin-top: 1em;
    margin-bottom: 1em;
   
}

.center > a {
    text-decoration: none;
    color: white;
}

.table_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgoldenrodyellow;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid orange;
}

.sideNav {
    min-height: calc(100vh - 80px);
}

.update {
    margin-bottom: 2em;
}

.white {
    color: white;
    text-decoration: none;
}

.middle {
    align-items: center;
}

.delete {
    text-decoration: underline;
    font-weight: bold;
}

.d-none {
    display: none !important;
  }

.invisible {
    visibility: hidden;
  }

.middle {
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
  list-style: none;  
}

.display-border {
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}

.display-box {
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}

.thick {
    border-top: 4px solid orange;
}

.display-wide{
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    height: 300px;
}

.display-large {
    /* height: 18em; */
    height: 300px !important;
    width: 100%;
  }

.orange {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    
}